body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #19191a, #0606468f);
    color: white;
    text-align: center;
}

#my-story {
    background-color: #0000002c;  /* Light background color */
    padding: 20px;            
    border-radius: 8px;         /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    margin: 20px 0;           
}
  
#my-story h2 {
    font-size: 2em;  
    color: #ffffff;   
    margin-bottom: 10px;  
}
  
#my-story p {
    font-size: 1.1em;  
    line-height: 1.6;   
    color: #ffffff;        
    text-align:left;
}
  
header { 
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.banner {
    font-size: 2em;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px; 
}

.category {
    width: 45%;
    height: 200px;
    margin: 5px; /* Reduced margin between categories */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, height 0.5s ease;
}

.category:hover {
    transform: scale(1.05);
}

.category h2 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.category:nth-child(1) { background-image: url('images/category1-bg.jpg');}
.category:nth-child(2) { background-image: url('images/category2-bg.jpg');}
.category:nth-child(3) { background-image: url('images/category3-bg.jpg');}
.category:nth-child(4) { background-image: url('images/category4-bg.jpg');}
.category:nth-child(5) { background-image: url('images/category5-bg.jpg');}
.category:nth-child(6) { background-image: url('images/category6-bg.jpg');}
.category:nth-child(7) { background-image: url('images/category7-bg.jpg');}
.category:nth-child(8) { background-image: url('images/category8-bg.jpg');}

.gallery { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.gallery-content {
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    position: relative;
    transition: max-height 0.3s ease-in-out;
}

.gallery-content img {
    width: 100px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
}

.category.expanded .gallery-content {
    display: grid;
}

.expanded { 
    height: auto;
}

.expanded .gallery-content {
    display: flex; 
}
  

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    width: 80%;
    height: auto;
    margin: 5% auto;
    display: block;
    max-width: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Centering the Contact Form */
.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; 
    gap: 50px; 
    margin-bottom: 50px; 
}

/* Contact Form Styling */
.contact-container {
    text-align: center;
}

h2 {
    margin-bottom: 5px; /* Reduces space below the heading */
}

/* Using Grid for the Form Layout */
form {
    display: grid;
    gap: 15px; 
    width: 700px; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  

/* Style inputs and text area */
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit; 
}

/* Styling the Submit Button */
.submit-btn {
    background-color: #c0c0c098;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
}
